<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/indexpage.css" | relURL }}">
</head>

<body class="landing-page"> 
    
    <div class="page-container">
        <main class="home-content">
        {{ .Content }}
        </main>
    </div>

        
    <div class="full-bleed-bg">
        <img src="{{ "images/hero-image.png" | relURL }}" alt="Decorative Background">
    </div>
    

  <script src="{{ "js/header.js" | relURL }}" defer></script>
  <script src="{{ "js/theme.js" | relURL }}" defer class="jim"></script>
</body>
</html>
